.container{
    width: 37.5rem;
    min-height: 37.5rem;
    background-color: orange;
    z-index: 1000;
    position: absolute;
    border-radius: 5px;

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 37.5rem;
        width: 100%;
    }

    label{
        font-size: 2rem;
        font-weight: bold;
        color: #000;
    }
    input{
        width: 100%;
        border: none;
        padding: 1%;
        border-radius: 5px;
    }
    button{
        border: none;
        border-radius: 5px;
        font-weight: bold;
        color: #fff;
        width: 50%;
        padding: 1%;
        background-color: #000;   
        margin-top: 2%;

        &:hover{
            background-color: #0008;
        }
    }
}